.thumbnail img {
    max-height: 200px;
}

.thumbnail .description {
    color: #7c7c7c;
}

.price {
    font-weight: bold;
}

.logo img {
    width: 117px;
    height: 50px;
}

.input-box {
    padding-bottom: 92px;
}